# bloqsync – ROBOBLOQ SyncLight LED bar
# 1) allow user access to the control interface (hidraw)
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="fe07", MODE="0666"
# 2) ignore the bar's keyboard interface (it types a URL when plugged in)
ACTION=="add|change", SUBSYSTEM=="input", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="fe07", ENV{LIBINPUT_IGNORE_DEVICE}="1"
